body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
}
#shop-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 5em;
    a {
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }
}
#shop-navigation {
    margin-top: 2.8em;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline-block;
        font-size: 1.4em;
        margin-left: 2em;
    }
}
.shop-tile {
    .thumbnail {
        display: block;
        text-align: center;
        height: 160px;
    }
    height: 250px;
}
.browse-catalog {
    margin-top: 40px;
    min-height: 500px;
}